<h4>{{ instance.name }}</h4>
Status:
{% if instance.status == 'RUNNING' %}
    <span class="instance-status badge badge-success">{{ instance.status }}</span>
    <button class="btn btn-danger btn-sm btn-action" onclick="modalController.open(this)" data-action="stop"
                            data-vm="{{ instance.name }}" data-toggle="tooltip" data-zone="{{ zone }}" title="Stop"><i class="fa fa-stop"></i></button>
{% else %}
    <span class="instance-status badge badge-danger">{{ instance.status }}</span>
    <button class="btn btn-success btn-sm btn-action" onclick="modalController.open(this)" data-action="start"
                            data-vm="{{ instance.name }}" data-toggle="tooltip" data-zone="{{ zone }}" title="Start"><i class="fas fa-play"></i></button>
{% endif %}