<!doctype html>
<html>

<head>
	<title>GCE Instances Manager</title>
	<meta name="google-signin-client_id" content="{{ gsignin_key }}">

	<script src="https://apis.google.com/js/platform.js" async defer></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
		integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="javascript:void(0)">GCE Instances Manager</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>

		<div class="collapse navbar-collapse" id="navb">
			<div class="mr-auto"></div>
			<div id="nav_user_info">
				<div id="gsignin_btn" class="g-signin2" data-onsuccess="onSignIn"></div>
			</div>
		</div>
	</nav>
    <div class="container-fluid">
        <div class="row">
            <section class="col-md-3 shadow rounded">
                <div class="mt-5 pt-5">
                    <h5 class="text-center">Welcome to the Instances Manager!</h5>
                    <h6>Here are some things to keep in mind:</h6>
                    <br/>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <span class="badge badge-info badge-pill mr-3">1</span>  
                            <small>Usually stopping stopping an instance takes a long time, so don't worry if it gets stuck in the loading animation.</small>
                        </li>
                    </ul>
                </div>
            </section>
            <main class="col-md-9">
                <div class="row">
                    <div id="main-workspace" class="col-12 d-flex justify-content-center align-items-center flex-wrap"
                        style="min-height: 90vh"></div>
                </div>
            </main>
        </div>
    </div>
    <div class="modal fade" id="confirm_modal">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div id="confirm_text" class="modal-body"></div>

                <div id="confirm_actions" class="modal-footer"></div>
            </div>
        </div>
    </div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>