<!doctype html>
<html>

<head>
	<title>GCE Instances Manager</title>
	<meta name="google-signin-client_id" content="{{ gsignin_key }}">

	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script src="{{ url_for('static', filename='script.js') }}"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<style>
		.spinner-border-lg {
			width: 4rem;
			height: 4rem;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="javascript:void(0)">GCE Instances Manager</a>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
            <span class="navbar-toggler-icon"></span>
        </button>

		<div class="collapse navbar-collapse" id="navb">
			<div class="mr-auto"></div>
			<div id="nav_user_info">
				<div id="gsignin_btn" class="g-signin2" data-onsuccess="onSignIn"></div>
			</div>
		</div>
	</nav>

	<main class="container-fluid">
		<div class="row">
			<div id="main-workspace" class="col-12 d-flex justify-content-center align-items-center flex-wrap"
				style="min-height: 90vh">
				<div class="text-center">
					<h2>Hello!</h2>
					<h4>You will be able to see the information once you signin with your account.</h4>
					<h4>If you already signed in, wait a moment so we can check who you are..</h4>
				</div>
			</div>
		</div>
	</main>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script>
		function get_instances(id_token) {
            $_workspace = $("#main-workspace");
            $_workspace.html(`<div class="spinner-border spinner-border-lg"></div>`);
            $.ajax({

                url: '/zones',
                headers: { 'x-user-token': id_token }

            }).done(function(data) {
                if(data.zone_count > 0) {
                    let i = 0;
                    for (zone of data.zones) {
                        let zoneName = zone.name;
                        let x = i * 1000;
                        i++;
                        
                        setTimeout(function() {
                            // Using a setTimeout to avoid blocking too many simultanious requests
                            $.ajax({
                                url: '/instances/' + zoneName,
                                headers: { 'x-user-token': id_token }
                            }).done(function(data) {
                                console.log(data);
                            });

                        }, x);
                    }
                } else {
                    $_workspace.html(`<h2 class="text-center">An error occured when trying to fetch GPC zones</h2>`);
                }
            });
    }

    function get_user_data(id_token) {
        $.ajax({
            url: '/get-user-data',
            headers: { 'x-user-token': id_token }
        }).done(function(data) {
            $("#nav_user_info").html(data);
        });
    }

	// Checks if the user logged in is valid.
    function loadApp(id_token) {
        // Load user data
        get_user_data(id_token);

        // Load instances data
        get_instances(id_token);
    }

    // Callback for when the user sign in from the web and when we do the first check.
    function onSignIn(googleUser) {
        let id_token = googleUser.getAuthResponse().id_token;
        loadApp(id_token);
    }

    // Sign out function from The Google Signin API
    function signOut() {
        let auth2 = gapi.auth2.getAuthInstance();
        let googleUser = auth2.currentUser.get();

        $.ajax({
            url: '/sign-out',
            headers: { 'x-user-token': googleUser.getAuthResponse().id_token }
        }).done(function(data) {
            auth2.signOut().then(function () {
                console.log('User signed out.');
                location.reload();
            });
        });
    }

    // If user is already logged in the browser we check if it's a valid user and if it is registered in our DB
    if (auth2.isSignedIn.get()) {
        onSignIn(googleUser);
    }

	</script>
</body>

</html>